<%-include('header')%>
<br><br>

    

    <form action='/<%=collection%>''  method="post" id="listId">
        <input type="text" name="input" placeholder="Your ToDo Item Here" style="text-align: center;" autofocus> 
        <br><br>
        <div style="text-align: center;">
        <button  type="submit" name="button" id="submit" value='addItem'>Add</button>
        <button type="submit" name="button" id="empty" value="empty">Empty List</button>
        <button type="submit" name="button" id="delete" value="delete">Delete List</button>
        
        </div>
    </form>


    <% if (list.length === 0) { %>
    <li><h3>No tasks yet!</h3></li>
  <% } else { %>

    <ul id="myList">
        
        <%for(let i = 0; i < list.length; i++){%>   
            <li>
                <input type="checkbox" id=<%=i%>> &nbsp;&nbsp;
                <label for=<%=i%>><%=list[i].item%></label>
                
            </li>
        <%}}%>

    </ul>

   
    <!-- JQuery Library -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script>
          if(myList){
  new Sortable(myList, {
    animation: 150
  });
    }
    </script>
    <script src="js/script.js"></script>

    <%-include('footer')%>
    