<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today? </title>
    <link rel="stylesheet" href="css/styles.css">

    </head>
<body>


    <div class="todo-container">
    <h1>My To-Do List</h1>
    <div style="text-align: center;">
    <%=date%> <br> <%=day%></div>
    <div style="text-align: center;">
        <%=listType%> List
    </div>
<br><br>

    

    <form action="/submit" method="post">
        <input type="text" name="input" placeholder="Your ToDo Item Here" style="text-align: center;" autofocus> 
        <br><br>
        <div style="text-align: center;">
        <button  type="submit" name="button" id="submit" value=<%=listType%>>Add</button>
        <button type="submit" name="clear" id="clear" value=<%=listType%>>Clear</button>

        </div>
    </form>


    <% if (list.length === 0) { %>
    <li><h3>No tasks yet!</h3></li>
  <% } else { %>

    <ul>
        

        <%for(let i = 0; i < list.length; i++){%>
            <li><%=list[i]%></li>
        <%}}%>

    </ul>

    </div>


    
    
   


</body>
</html>